body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    background-color: #F5B88D;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    gap: 20px;
}

header div{
    text-align: right;
    margin-top: 0px;
}

.busqueda{
    align-items: center ;
    justify-content: center;
}

.busqueda button{
    text-decoration: none;
}

.logo img{
    max-height: 60px; 
    width: auto;
}


