body{
    background-color: #E11364;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #BC105C;
    border-left: 4px solid white;
    border-right: 4px solid white;
    padding: 3px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 40px;
    color: white;
    font-size: 20px;
}

main{
    background-color: #BC105C;
    border-radius: 10px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
}

.vendidos{
    color: white;
    margin-left: 15px;
    font-size: 20px;
}

.mario8{
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
}

.mario8 div{
    font-size: 18px;
    padding: 20px;
}

.mario8 img{
    display: block;
    margin: auto;
    width: 100%;
}

.mario8 h4{
    text-align: right;
    color: #9C013B;
    font-size: 20px;
    border-bottom: 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style:dotted;
}

.mario8 button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: greenyellow;
    text-decoration: none;
}