body{
    background-color: #E11364;
    font-family: Arial, Helvetica, sans-serif;
}

.desarrollado{
    background-color: #E96093;
    border-radius: 10px;
    margin-right: 100px;
    margin-left: 100px;
    padding: 20px;
    margin-top: 20px;
}

.desarrollado h2{
    text-align: center;
    color: white;
}
.headerIndex{
    background-color: #BC105C;
    border-left: 4px solid white;
    border-right: 4px solid white;
    padding: 3px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 40px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.mainIndex{
    background-color: #BC105C;
    border-radius: 10px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
}

.vendidos{
    color: white;
    margin-left: 15px;
    font-size: 20px;
}

.mario8{
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
}

.mario8 div{
    font-size: 18px;
    padding: 20px;
}

.mario8 img{
    display: block;
    margin: auto;
    width: 100%;
}

.mario8 h4{
    text-align: right;
    color: #9C013B;
    font-size: 20px;
    border-bottom: 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style:dotted;
}

.mario8 button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #2C8F20;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
    color: white;
}

.mario8 a{
    text-decoration: none;
}

.mortal11{
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 40px;
    border-radius: 10px;
}

.mortal11 div{
    font-size: 18px;
    padding: 20px;
}

.mortal11 img{
    display: block;
    margin: auto;
    width: 100%;
}

.mortal11 h4{
    text-align: right;
    color: #9C013B;
    font-size: 20px;
    border-bottom: 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style:dotted;
}

.mortal11 button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #2C8F20;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
    color: white;
}

.mortal11 a{
    text-decoration: none;
}

@media  screen and (max-width: 600px) {
    .info{
        display: flex;
        flex-wrap: wrap;
    }   
}

/* Estilos pagina mario */
.headerMario{
    padding: 20px;
    background-color: #BC105C;
    border-radius: 20px;
}

.headerMario img{
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 20px;
}

.mainMario{
    padding: 20px;
    background-color: #BC105C;
    border-radius: 20px;
    margin-top: 50px;
}

.section1Mario h2{
    margin-left: 30px;
    font-size: 30px;
    color: white;
}

.section1Mario img{
    float: right;
    margin-right: 50px;
}

.section1Mario p{
    font-size: 30px;
    margin-left: 30px;
    color: white;
}

.section2Mario h2{
    margin-left: 30px;
    font-size: 30px;
    color: white;
    margin-top: 50px;
}

.section2Mario img{
    float: left;
    margin-top: 50px;
    margin-right: 30px;
}

.section2Mario div{
    font-size: 30px;
    margin-left: 30px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.section2Mario div b{
    margin-right: 30px;
}

.section2Mario button{
    display: block;
    margin-left: 0px;
    margin-right: auto;
    background-color: #2C8F20;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
    color: white;
}

.section2Mario a{
    text-decoration: none;
}

@media  screen and (max-width: 600px) {
    .info{
        display: flex;
        flex-wrap: wrap;
    }   
}

/* Estilos pagina mortal kombat */

.headerMortal{
    padding: 20px;
    background-color: #BC105C;
    border-radius: 20px;
    
}

.headerMortal img{
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 20px;
}

.mainMortal{
    padding: 20px;
    background-color: #BC105C;
    border-radius: 20px;
    margin-top: 50px;
}

.section1Mortal h2{
    margin-left: 30px;
    font-size: 30px;
    color: white;
}

.section1Mortal img{
    float: right;
    margin-right: 5px;
    margin-left: 15px;
    width: 50%;
}

.section1Mortal p{
    font-size: 30px;
    margin-left: 30px;
    margin-top: 100px;
    color: white;
}

.section2Mortal h2{
    margin-left: 30px;
    font-size: 30px;
    color: white;
    margin-top: 180px;
    margin-bottom: 0px;
}

.section2Mortal img{
    float: left;
    margin-top: 40px;
    margin-right: 30px;
    width: 50%;
}

.section2Mortal div{
    font-size: 30px;
    margin-left: 30px;
    color: white;
    margin-top: 60px ;
    margin-left: 20px;
    margin-right: 20px;
}

.section2Mortal div b{
    margin-right: 30px;
}

.section2Mortal button{
    display: block;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 80px;
    background-color: #2C8F20;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
    color: white;
}

.section2Mortal a{
    text-decoration: none;
}

@media  screen and (max-width: 600px) {
    .info{
        display: flex;
        flex-wrap: wrap;
    }   
}