*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
}

body{
    background: rgb(64, 64, 141);
}

.navegacion{
    width: 1000px; /* ancho de la nav bar */
    margin: 30px auto; /* centrado horizontal */
    background: #fff;
}   

.navegacion ul{
    list-style: none; /* quita los puntos de la lista */
}   

.menu > li{
    /* position: relative; */
    display: inline-block; /* elementos uno al lado del otro */
}

.menu > li > a{
    display: block; /* para que el enlace ocupe todo el espacio del li */
    padding: 15px 20px; /* espacio alrededor del texto */
    color: #353535;
    text-decoration: none;
    font-family: 'Open Sans';
}

.menu li a:hover{
    color: orange;
    transition: all .3s; 
}


/* Submenu 1 */

.submenu{
    position: absolute;
    background: #333333;
    width: 120px;
    display: none;
}   

.submenu li a{
    display: block; /* elementos uno debajo del otro */
    padding: 15px;
    color: #fff;
    font-family: 'Open Sans';
    text-decoration: none;
}

.menu li:hover .submenu{
    display: block; /* muestra el submenu al pasar el mouse */
}

/* Submenu 2 */

.submenu1{
    position: absolute;
    background: #333333;
    width: 120px;
    display: none;
}   

.submenu1 li a{
    display: block; /* elementos uno debajo del otro */
    padding: 15px;
    color: #fff;
    font-family: 'Open Sans';
    text-decoration: none;
}

.menu li:hover .submenu1{
    display: block; /* muestra el submenu al pasar el mouse */
}

.contenido {
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.contenido p {
    font-size: 50px;
    color: white;
    margin: 20px;
}   