/* Google font import */

@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

.headerFont {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "GRAD" 0;  
}

.bodyFont {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

.cardsFont {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "GRAD" 0;  
  font-size: small;
}

/* Index styles */

body {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

/* Index styles for header section */

header{
    height: 150px;
    background-color: black;
    color: white;
}

.promoHeader{
    background-color: #26356C;
    height: 40px;
    width: auto;
}

.promoHeader p{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: small;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-left: 150px;
    margin-right: 150px;
    max-height: 100px;
}

.logoHeader{
    height: 200px;
    margin-top: 30px;
}

.searchHeader{
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.searchHeader input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px 0 0 30px;
    width: 500px;
}

.searchHeader button{
    padding: 9px 15px;
    background-color: #2F82FB;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 30px 30px 0;
}

.searchHeader img{
    max-width: 17px;
}

.aboutUsHeader ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
    list-style-type: none;
}

.aboutUsHeader li{
    margin-top: 15px;
}

.aboutUsHeader a{
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease-in-out;
}

.aboutUsHeader a:hover{
    transform: scale(1.1);
}

.aboutUsHeader img{
    max-width: 20px;
}

.aboutUsHeader button{
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 30px;
    border-style: none;
    transition: transform 0.3s ease-in-out;
}

.aboutUsHeader button:hover{
    transform: scale(1.1);
}

/* Index styles for main section */

main{
    height: 550px;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

main div{
    background-color: white;
    height: 400px;
    width: 250px;
    transition: transform 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-size: cover;
    background-position: center;

    color: white;
}

main div:hover{
    transform: scale(1.05);
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.25);
}

main div h3{
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: medium;
    text-shadow: 0px 2px black ;
}

main div p{
    margin-left: 10px;
}

/* Index styles for section "One" */

.sectionOne{
    height: 620px;
    margin-left: 150px;
    margin-right: 150px;
}

.sectionOne h2{
    margin-bottom: 0px;
}

.gamesCards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.gamesCards div{
    height: 400px;
    width: 200px;
    background-color: white;
    border-radius: 20px;
    
    transition: transform 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
}

.gamesCards div:hover{
    transform: scale(1.05);
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.25);
}

.gamesCards div img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
}

.gamesCards div h3{
    margin-left: 10px;
}
.gamesCards div h4{
    margin-left: 10px;
    margin-top: 0px;
}
.gamesCards h4 img{
    width: 10%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
}
.gamesCards div p{
    margin-left: 10px;
    margin-top: auto;
    font-size: large;
}

/* Index styles for footer section */
hr{
    margin-left: 150px;
    margin-right: 150px;
} 

footer{
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer img{
    max-height: 150px;
    filter: grayscale(100%);
}



/* Media Queries for Tablets (max-width: 1024px) */
@media (max-width: 1024px) {
    nav, .sectionOne {
        margin-left: 50px;
        margin-right: 50px;
    }

    .searchHeader input {
        width: 300px;
    }

    .gamesCards {
        flex-wrap: wrap;
        justify-content: center;
    }

    hr{
        margin-left: 50px;
        margin-right: 50px;    
    }

    footer {
        margin-left: 50px;
        margin-right: 50px;
    }
}

/* Media Queries for cellphones (max-width: 768px) */
@media (max-width: 768px) {
    header {
        height: auto; 
        min-height: 200px;
        display: flex;
        flex-direction: column;
    }

    nav {
        flex-direction: column; 
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
        height: auto;
        max-height: none; 
    }

    .logoHeader {
        margin-top: 10px;
        order: 1; 
    }

    .searchHeader {
        margin-top: 10px; 
        width: 100%;
        justify-content: center;
        order: 2; 
    }

    .searchHeader input {
        width: 60%; 
    }

    .aboutUsHeader {
        order: 3; 
    }

    .aboutUsHeader ul {
        margin-top: 10px; 
        padding: 0;
        gap: 10px;
        justify-content: center;
    }

    .aboutUsHeader li {
        margin-top: 0; 
    }

    main {
        flex-direction: column;
        height: auto;
        padding: 40px 0;
    }

    main div {
        width: 80%;
        height: 300px;
    }

    .sectionOne {
        margin-left: 20px;
        margin-right: 20px;
        height: auto;
    }

    .gamesCards div {
        width: 140px; 
    }

    .headerFont, h2 {
        font-size: 1.5rem; 
        text-align: center;
    }

    main div h3 {
        font-size: 1.1rem; 
    }

    .cardsFont, .gamesCards div h3 {
        font-size: 0.9rem; 
    }

    .gamesCards div p {
        font-size: 1rem; 
    }

    .promoHeader p {
        font-size: 11px; 
    }

    hr{
        margin-left: 20px;
        margin-right: 20px;        
    }

    footer {
        margin-left: 20px;
        margin-right: 20px;
        text-align: center; 
    }
}