/* Google font import */

@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

.headerFont {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "GRAD" 0;  
}

.bodyFont {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

.cardsFont {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "GRAD" 0;  
  font-size: small;
}

/* Index styles */

body {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

/* Index styles for header section */

header{
    height: 170px;
    background-color: black;
    color: white;
}

.promoHeader{
    background-color: #26356C;
    height: 40px;
    width: auto;
}

.promoHeader p{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: small;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-left: 150px;
    margin-right: 150px;
    max-height: 100px;
}

.logoHeader {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 15px;
    max-height: 120px;
}
.logoHeader img{
    margin-top: 10px;
    max-height: 100px;
}

.searchHeader{
    margin-top: 90px;
    display: flex;
    align-items: center;
}

.searchHeader input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px 0 0 30px;
    width: 500px;
}

.searchHeader button{
    padding: 9px 15px;
    background-color: #2F82FB;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 30px 30px 0;
}

.searchHeader img{
    max-width: 17px;
}

.aboutUsHeader ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    list-style-type: none;
}

.aboutUsHeader li{
    margin-top: 15px;
}

.aboutUsHeader img{
    max-width: 20px;
}

.aboutUsHeader button{
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 30px;
    border-style: none;
    transition: transform 0.3s ease-in-out;
}

.aboutUsHeader button:hover{
    transform: scale(1.1);
}

/* Index styles for main section */

main{
    height: 525px;
    background-image: url("https://ocm-it.com.mx/assets/images/interiores/blogs/2020/diciembre/fondos-navidad-teams/03.png");
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

main div{
    background-color: white;
    height: 400px;
    width: 250px;
    transition: transform 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-size: cover;
    background-position: center;

    color: white;
}

main div:hover{
    transform: scale(1.05);
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.25);
}

main div h3{
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: medium;
    text-shadow: 0px 2px black ;
}

main div p{
    margin-left: 10px;
}

/* Index styles for section "One" */

.sectionOne{
    height: 680px;
    margin-left: 150px;
    margin-right: 150px;
}

.sectionOne h2{
    margin-bottom: 0px;
}

.gamesCards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.gamesCards div{
    height: 400px;
    width: 200px;
    background-color: white;
    border-radius: 20px;
    
    transition: transform 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
}

.gamesCards div:hover{
    transform: scale(1.05);
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.25);
}

.gamesCards div img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
}

.gamesCards div h3{
    margin-left: 10px;
}
.gamesCards div h4{
    margin-left: 10px;
    margin-top: 0px;
}
.gamesCards h4 img{
    width: 10%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
}
.gamesCards div p{
    margin-left: 10px;
    margin-top: auto;
    font-size: large;
}