input{
    border-top: none;
    border-left: none;
    border-right: none;
}

input:focus{
    outline: none;
    border: none;
}

form{
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333333;
    width: 100%;
    max-width: 300px;
}