@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lobster&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #4d7c9a;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  background-image: url(./img/ciudad.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: 100vw auto;
}

h1 {
  padding: 20px;
  width: 100%;

  display: block;

  position: sticky;
  top: 0;
  z-index: 999;

  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;

  text-align: center;
  color: #ffffff;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  background-color: #df3448;
}

h2,
p {
  margin-left: 120px;
  margin-right: 120px;

  padding: 15px;

  background-color: #acdadc;

  box-shadow: inset 20px 0px 15px -15px rgba(0, 0, 0, 0.4);
}

h2 {
  font-family: "Lobster", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2em;

  text-align: center;

  color: #df3448;

  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

p {
  color: #213557;
}

h2:nth-of-type(1) {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  padding-top: 50px;
  margin-top: 30px;

  box-shadow: inset 10px 10px 15px -5px rgba(0, 0, 0, 0.4);
}

p:nth-of-type(1),
p:nth-of-type(5) {
  text-align: center;
  font-size: 1.3em;
  font-weight: 400;

  padding-left: 60px;
  padding-right: 60px;
}

p:nth-of-type(1)::before,
p:nth-of-type(5)::before {
  content: "- ";
}

p:nth-of-type(1)::after,
p:nth-of-type(5)::after {
  content: " -";
}

p:nth-of-type(2)::first-letter,
p:nth-of-type(3)::first-letter,
p:nth-of-type(4)::first-letter,
p:nth-of-type(6)::first-letter,
p:nth-of-type(7)::first-letter,
p:nth-of-type(8)::first-letter,
p:nth-of-type(9)::first-letter,
p:nth-of-type(10)::first-letter {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}

p:nth-of-type(2),
p:nth-of-type(3),
p:nth-of-type(4),
p:nth-of-type(6),
p:nth-of-type(7),
p:nth-of-type(8),
p:nth-of-type(9),
p:nth-of-type(10) {
  text-align: justify;

  padding-left: 60px;
  padding-right: 60px;

  font-size: 1.1em;
}

p:nth-of-type(10) {
  padding-bottom: 50px;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

p:nth-of-type(10)::after {
  content: url("./img/gato.png");
  display: block;
  text-align: center;
  margin: 100px auto -450px auto;
}

@media (max-width: 1024px) {
  h2,
  p {
    margin-left: 40px;
    margin-right: 40px;
  }

  p {
    margin-top: -15px;
    margin-bottom: -15px;
  }

  h2:nth-of-type(2) {
    margin-top: -15px;
    margin-bottom: -15px;
    padding: 30px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5em;
    padding: 15px;
  }

  h2,
  p {
    margin-left: 15px;
    margin-right: 15px;
  }

  p {
    box-shadow: inset 10px 0px 8px -8px rgba(0, 0, 0, 0.4);
    margin-top: -5px;
  }

  h2:nth-of-type(1) {
    margin-top: 20px;
    padding-top: 30px;
    box-shadow: inset 5px 5px 8px -3px rgba(0, 0, 0, 0.4);
  }

  h2:nth-of-type(2) {
    box-shadow: inset 10px 0px 8px -8px rgba(0, 0, 0, 0.4);
    margin-top: -5px;
  }

  p:nth-of-type(1),
  p:nth-of-type(5) {
    font-size: 1.1em;
    padding-left: 20px;
    padding-right: 20px;
  }

  p:nth-of-type(2),
  p:nth-of-type(3),
  p:nth-of-type(4),
  p:nth-of-type(6),
  p:nth-of-type(7),
  p:nth-of-type(8),
  p:nth-of-type(9),
  p:nth-of-type(10) {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
  }

  p:nth-of-type(2)::first-letter,
  p:nth-of-type(3)::first-letter,
  p:nth-of-type(4)::first-letter,
  p:nth-of-type(6)::first-letter,
  p:nth-of-type(7)::first-letter,
  p:nth-of-type(8)::first-letter,
  p:nth-of-type(9)::first-letter,
  p:nth-of-type(10)::first-letter {
    font-size: 1.5em;
  }

  p:nth-of-type(10)::after {
    margin: 30px auto -400px auto;
    transform: scale(0.7);
    transform-origin: top center;
  }
}
