body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgba(116, 112, 112, 0.418);
}

header{
    display: flex;
    background-color: #F5B88D;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    gap: 20px;
    margin-bottom: 0px;
}

main{
    margin-top: 0px;
}

header div{
    text-align: right;
    margin-top: 0px;
}

.busqueda{
    align-items: center ;
    justify-content: center;
}

.busqueda button{
    background: none;
    border: none;
}

.busqueda button:hover{
    background: #967055;
}

.busqueda input{
    border: none;

}
.logo img{
    max-height: 60px; 
    width: auto;
}

.nosotros button{
    background: none;
    border: none;
}

.nosotros button:hover{
    background: #967055;
}

.productosDestacados{
    margin-left: 30px;
    margin-top: 0px;
}
.productos{
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    background-color: none  ;
}

.productoUno{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    text-align: center;
    justify-content: center;
    width: 500px;
    height: 600px;  
}

.productoUno h2{
    margin-top: 50px;
}

.productoUno button{
    margin-top: 100px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: #4AB516;
    font-size: larger;
}

.productoUno button:hover{
    background-color: #ACF29F;
}
.productoUno img{
    width: 50%;
}

.productoDos{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    text-align: center;
    justify-content: center;
    width: 500px;
    height: 600px;  
}

.productoDos button:hover{
    background-color: #ACF29F;
}

.productoDos h2{
    margin-top: 50px;
}

.productoDos button{
    margin-top: 100px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: #4AB516;
    font-size: larger;
}

.productoDos img{
    width: 50%;
}

.productoTres{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    text-align: center;
    justify-content: center;
    width: 500px;
    height: 600px;  
}

.productoTres button:hover{
    background-color: #ACF29F;
}

.productoTres h2{
    margin-top: 50px;
}

.productoTres button{
    margin-top: 100px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: #4AB516;
    font-size: larger;
}

.productoTres img{
    width: 50%;
}

