@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgba(116, 112, 112, 0.418);
    font-family: 'Barlow', sans-serif;
}

header{
    display: flex;
    background-color: #FFD317;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
    gap: 20px;
    margin-bottom: 0px;
}

main{
    margin-top: 0px;
}

header div{
    text-align: right;
    margin-top: 0px;
}

.busqueda{
    align-items: center ;
    justify-content: center;
}

.busqueda button{
    background: none;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.busqueda button:hover{
    background: #ecc40d;
}

.busqueda input{
    border: none;

}
.logo img{
    max-height: 60px; 
    width: auto;
}

.nosotros button{
    background: none;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nosotros button:hover{
    background: #ecc40d;
}

.banner img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.categorias{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 50px;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    background-color: none  ;
    text-align: center;
    gap: 5%;
}

.categorias h3{
    font-weight: normal;
    font-size: 120%;
}

.categorias img{
    border-radius: 150px;
}

.categorias img:hover{
    transform: scale(1.2);
}

.productosDestacados{
    margin-left: 30px;
    margin-top: 0px;
}
.productos{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items:center ;
    justify-content: space-between;
    background-color: none  ;
}

.productos h1{
    margin-left: 50px;
    margin-top: 50px;
}

.productoUno{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 100px;
    text-align: center;
    justify-content: center;
    width: 500px;
    height: 600px;  
}

.productoUno h2{
    margin-top: 50px;
}

.productoUno button{
    margin-top: 100px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: #0B76DA;
    color: white;
    border-radius: 150px;
    font-size: larger;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.productoUno button:hover{
    background-color: #02417c;
}
.productoUno img{
    width: 50%;
}

.productoDos{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    text-align: center;
    justify-content: center;
    border-radius: 100px;
    width: 500px;
    height: 600px;  
}

.productoDos button:hover{
    background-color: #02417c;
}

.productoDos h2{
    margin-top: 50px;
}

.productoDos button{
    margin-top: 100px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: #0B76DA;
    color: white;
    border-radius: 150px;
    font-size: larger;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.productoDos img{
    width: 50%;
}

.productoTres{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    text-align: center;
    justify-content: center;
    border-radius: 100px;
    width: 500px;
    height: 600px;  
}

.productoTres button:hover{
    background-color: #02417c;
}

.productoTres h2{
    margin-top: 50px;
}

.productoTres button{
    margin-top: 100px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: #0B76DA;
    color: white;
    border-radius: 150px;
    font-size: larger;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.productoTres img{
    width: 50%;
}

.calidad{
    width: 100%
}

.calidad h2{
    margin-left: 30px;
}

.calidad p{
    margin-left: 50px;
    margin-right: 50px;
    font-size: larger;
}

footer{
    display: flex;
    background-color: #FFD317;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
    gap: 20px;
    margin-bottom: 0px;
}

@media  screen and (min-width: 300px) {
    header{
        display: flex;
        flex-wrap: wrap;
    }

    .categorias{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .productos{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
