/* Estilos proyecto 1 */

.bodypry1{
    background-color: rgb(80, 80, 90);
}

.bodypry1 a{
    text-decoration: none;
    color: white;
}
.headerpry1{
    background: white;
    text-align: center;
}    

.headerpry1 h1{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 80px;
    color: rgb(80, 80, 94);
}   

.sectionpry1Inicio p{
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Gadget, sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.842);
    text-align: justify;
}

/* Aspiradoras */
.sectionpry1Productos .aspiradoras h2{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 40px;
    color: rgb(255, 194, 194);
    margin-left: 20px;
    letter-spacing: 3px;
}

.sectionpry1Productos .aspiradoras img{
    border:solid;
    border-width: thick;
    border-color: rgb(255, 194, 194);
    margin-left: 60px;
}

.sectionpry1Productos .aspiradoras p{
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Gadget, sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.842);
    text-align: justify;
}

/* Celulares */
.sectionpry1Productos .celulares h2{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 40px;
    color: rgb(201, 233, 243);
    margin-left: 20px;
    letter-spacing: 3px;
}

.sectionpry1Productos .celulares img{
    border:solid;
    border-width: thick;
    color: rgb(201, 233, 243);
    margin-left: 60px;
}

.sectionpry1Productos .celulares p{
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Gadget, sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.842);
    text-align: justify;
}

/* Consolas */
.sectionpry1Productos .consolas h2{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 40px;
    color: rgb(202, 202, 202);
    margin-left: 20px;
    letter-spacing: 3px;
}

.sectionpry1Productos .consolas img{
    border:solid;
    border-width: thick;
    color: rgb(202, 202, 202);
    margin-left: 60px;
}

.sectionpry1Productos .consolas p{
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Gadget, sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.842);
    text-align: justify;
}

/* Home Theathers */
.sectionpry1Productos .home h2{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 40px;
    color: rgb(109, 115, 141);
    margin-left: 20px;
    letter-spacing: 3px;
}

.sectionpry1Productos .home img{
    border:solid;
    border-width: thick;
    color: rgb(109, 115, 141);
    margin-left: 60px;
}

.sectionpry1Productos .home p{
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Gadget, sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.842);
    text-align: justify;
}

/* Televisores */
.sectionpry1Productos .televisores h2{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 40px;
    color: rgb(206, 207, 186);
    margin-left: 20px;
    letter-spacing: 3px;
}

.sectionpry1Productos .televisores img{
    border:solid;
    border-width: thick;
    color: rgb(206, 207, 186);
    margin-left: 60px;
}

.sectionpry1Productos .televisores p{
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Gadget, sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.842);
    text-align: justify;
}





/* Estilos proyecto 2 */
.bodypry2{
    background-color: rgb(0, 255, 136);
}

.bodypry2 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.headerpry2{
    color: rgb(255, 251, 0);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sectionpry2Imagenes1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sectionpry2Imagenes1 img{
    border: solid;
    border-width: 10px;
    border-color: rgb(255, 255, 255);
}





/* Estilos proyecto 3 */
.headerpry3{
    align-items: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 20px;
    color: rgb(180, 90, 163);
    
}

.headerpry3 h1{
    font-size: 50px;
}
.headerpry3 img{
    height: 30%;
    width: 30%;
}

.centuryResort p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 103, 172);
    /* max-width: 1200px; */
}

.centuryResort img{
    height: 30%;
    width: 30%;
    float: right;
    margin: 0px;
}

.centuryResort h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(180, 90, 163);
    letter-spacing: 10px;
}

.caribeanResort p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* max-width: 1200px; */
    color: rgb(0, 103, 172);
    margin-left: 50px;
}

.caribeanResort img{
    height: 30%;
    width: 30%;
    float: left;
    margin-right: 15px;
}

.caribeanResort h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(180, 90, 163);
    letter-spacing: 10px;
}

.animalResort p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* max-width: 1200px; */
    color: rgb(0, 103, 172);
    margin-left: 0px;
    
}

.animalResort img{
    height: 30%;
    width: 30%;
    float: right;
    margin: 0px;
}

.animalResort h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(180, 90, 163);
    letter-spacing: 10px;
}

.footerpry3 img{
    margin-top: 50px;
    height: 200%;
    width: 100%;
}

.footerpry3 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}